<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.cdnfonts.com/css/pixelify-sans" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <script src="/js/projectPage.js" type="module" defer></script> -->
  <title>Project pagina</title>

<body id="project_start" >
  <main style="background-image: url(<%= projects[idx].background %>)">
    <div id="project_title">
      <p>kies je spel</p>
    </div>
    <div id="project_main">
      <button class="arrowBtn"><a href="/?projectIdx=<%= (idx + projects.length -1) % projects.length %>"><img src="./assets/icons/arrow_icon.png"></a></button>
      <a href=<%= projects[idx].link %> id="game_mainBtn" style="background-color: <%= projects[idx].logoBgColor %>"><img src=<%= projects[idx].logo %>
        <% if(idx != 5){ %> onclick="alert('Dit project is nog onder constructie')" <% } %></a>
      <button class="arrowBtn"><a href="/?projectIdx=<%= (idx +1) % projects.length %>" target="_top"><img src="./assets//icons/arrow_icon.png"></a></button>
    </div>
    <div id="project_selection">
      <% for(let i = 0; i < projects.length; i++){ %>
        <a class="game_option <% if(i === idx){ %> active <% } %>" href="/?projectIdx=<%= i %>"><img src=<%= projects[i].logo %>></a>

      <% } %>
    </div>
  </main>
</body>

</html>